*{
box-sizing:border-box;
}
.flexbox{
display:flex;
justify-content:center;
align-items:center;
}
.flexbox-sa{
display:flex;
justify-content:space-around;
align-items:center;
}
.flexbox-column{
  display:flex;
  flex-direction:column;
}
