*{
box-sizing:border-box;
}
.flexbox{
display:flex;
justify-content:center;
align-items:center;
}
.flexbox-sa{
display:flex;
justify-content:space-around;
align-items:center;
}
.flexbox-column{
  display:flex;
  flex-direction:column;
}
nav{
width:100%;
background:white;
border-bottom:1px solid grey;
}
nav a{
color:black;
padding:0.2rem 0.5rem;
border-radius:10px;
text-decoration:none;
}
nav a:hover{
  background:rgb(255,255,255,0.4);
}
.nav-normal{
min-width:50%;
}
.dropdown>div{
display:none;
position:relative;
padding:0.3rem;
background:white;
gap:5px;
border-radius:10px;
}
.dropdown:hover>div{
position:absolute;
display:flex;
}
.dropdown svg{
  transition:0.3s;
}
.dropdown:hover svg{
transform:rotate(180deg);
}
.nav-imp{
gap:15px;
}
.nav-imp a{
background:yellow;
color:black;
font-weight:bold;
padding:0.2rem 1rem;
border-radius:5px;
transition:0.2s;
display:block;
}
.nav-imp a:hover{
cursor:pointer;
background:black;
color:white;
}
.hamburger{
display:none;
}

@media (max-width:768px){
  .hamburger{
display:flex;
position:fixed;
top:10px;
left:10px;
z-index:2;
width:50px;
height:50px;
background:white;
border-radius:10px;
transition:0.5s;
  }
  .hamburger span{
background:black;
display:block;
position:relative;
width:80%;
height:8px;
border-radius:20px;
transition:0.2s;
  }
 .hamburger-close{
transform:translateX(180px);
 } 
  .hamburger-close span{
width:92%;
right:-6px;
  }
  .hamburger-close span:nth-child(2){
    opacity:0;
  }
  .hamburger-close span:nth-child(3){
    transform:rotate(-45deg);
    transform-origin:left center;
  }
  .hamburger-close span:nth-child(1){
    transform:rotate(45deg);
    transform-origin:left center;
  }
nav{
position:fixed;
left:-500px;
width:250px;
flex-direction:column;
align-items:flex-start !important;
justify-content:flex-start !important;
gap:20px;
height:100%;
transition:0.5s;
border-right:1px solid black;
box-shadow:5px 0 2px 0px grey;
}
nav>div{
flex-direction:column;
width:100%;
}
.nav-normal{
gap:15px;
}
.dropdown>div{
position:relative !important;
}
.dropdown>span{
width:150px;
}
.nav-open{
left:0;
}
}
